<mat-toolbar class="menu">
  <button class="button-candidato" routerLink="/logincandidato" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button style="color: white">Candidato</button>
  <button class="button-empresa" routerLink="/loginempresa" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button style="color: white">Empresa</button>
  <button class="button-sobre" routerLink="/sobre" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button style="color: white">Sobre</button>
  <button class="button2" routerLink="/home" mat-stroked-button style="color: white">Inicio</button>
  <button class="button3" routerLink="/home" mat-stroked-button style="color: white">Cadastre-se Gratuitamente</button>
   <button class="dark-button" mat-icon-button style="color: white"><mat-icon>brightness_2</mat-icon></button>
</mat-toolbar>
