<mat-toolbar class="menu" color="primary">
 <div class="button-candidato">
    <button mat-stroked-button color="white">Candidato</button>
  </div>
  <div class="button-empresa">
    <button mat-stroked-button color="white">Empresa</button>
  </div>
  <div class="button-sobre">
    <button mat-stroked-button color="white">Sobre</button>
  </div>
  <div class="dark-button">
    <button mat-icon-button><mat-icon>brightness_2</mat-icon></button>
  </div>
</mat-toolbar>
<div class="menu-lc">
  <button class="button-login">LOGIN</button>
  <button class="button-cadastro">CADASTRE SEU CURRÍCULO</button>
</div>
  <!-- <div class="test">
    <button style="border-radius: 8px; background-color: rgb(204, 202, 202); color: black; height: 30px; margin-left: 1200px;">Login</button>
    <button style="border-radius: 8px; background-color: rgb(194, 192, 192); color: black; height: 30px;">Cadastre Seu Curriculo</button>
  </div> -->

<div class="Imagem_topo">
  <img src="/assets/banner-1.png" style="width:100%">
<div class="quadrado_divisao"></div>

<div class="Imagem_centro">
  <img src="/assets/rodape-1-3aD.png" style="width:100%">
</div>
<br>

  <div class="img_rodape"style="text-align:center;">
    <img src="/assets/logo-png-2.png" alt="Imagem do rodapé" style="width: 350px; height: 100px;">
  </div>
