<mat-toolbar class="menu" color="primary">
  <div class="button-candidato">
     <button routerLink="/scandidato" mat-stroked-button style="color: white">Candidato</button>
   </div>
   <div class="button-empresa">
     <button routerLink="/sempresa" mat-stroked-button style="color: white">Empresa</button>
   </div>
   <div class="button-sobre">
     <button routerLink="/sobre" mat-stroked-button style="color: white">Sobre</button>
   </div>
   <div class="dark-button">
     <button mat-icon-button style="color: white"><mat-icon>brightness_2</mat-icon></button>
   </div>
 </mat-toolbar>
 <div class="quadrado_menu">
   <br>
   <button class="button2" routerLink="/home" mat-stroked-button style="color: white">Home</button>
   <button class="button3" routerLink="/home" mat-stroked-button style="color: white">Cadastre seu Currículo</button>
 </div>
 <div class="quadrado_divisao"></div>

 <mat-card>
 <div class="buttons_login">


  <button class="button-opcoes" routerLink="/home" mat-stroked-button style="color: white">
      <img src="/assets/Botao recrutador.png" alt="Imagem 1" style="width: 550px; height: 150px;" >
    </button>

    <button class="button-opcoes" routerLink="/home" mat-stroked-button style="color: white">
      <img src="/assets/Botao empresa.png" alt="Imagem 2" style="width: 550px; height: 150px;" >
    </button>
  </div>

  <div class="Img_dir">

  <img src="/assets/login-1.png" alt="Imagem ao lado dos botões" style=" top: 130px; height: 450px; position: absolute; right: 0; top: 0;">
</div>
</mat-card>


<div class="img_rodape">
  <img src="/assets/logo-png-2.png" alt="Imagem do rodapé" style="width: 350px; height: 100px;">
</div>
