<mat-toolbar class="menu" color="primary">
  <div class="button-candidato">
     <button routerLink="/scandidato" mat-stroked-button color="white">Candidato</button>
   </div>
   <div class="button-empresa">
     <button routerLink="/sempresa" mat-stroked-button color="white">Empresa</button>
   </div>
   <div class="button-sobre">
     <button routerLink="/sobre" mat-stroked-button color="white">Sobre</button>
   </div>
   <div class="dark-button">
     <button mat-icon-button><mat-icon>brightness_2</mat-icon></button>
   </div>
 </mat-toolbar>
<mat-card>

<div class="quadrado_menu">
  <br>
  <a href='/home'><button class="button2">Home</button></a>
  <button class="button3">Cadastre Seu Curriculo</button>
</div>

<div class="quadrado_divisao"></div>

<div class="img-empresa" style="position: relative;">
  <img src="/assets/empresa-fundo-1-5iD.png" alt="Imagem"  style="width: 50%; opacity: 0.1; padding-bottom: 10vh;"  />
  <div class="regular">
    <dl>
      <dt><strong> Busque agora candidatos de acordo com o perfil da sua vaga</strong></dt>
      <dd>
          <br> Nossas soluções trazem agilidade e assertividade durante a contratação.
      </dd>
      <dt><br><strong> Gestão de Currículos</strong></dt>
      <dd><br> Faça toda a gestão do processo seletivo de maneira online pela Área da Empresa, onde você pode:</dd>
      <dd><br> • Organizar os currículos por pastas;</dd>
      <dd><br> • Enviar mensagens aos candidatos;</dd>
      <dd><br> • Agendar entrevistas;</dd>
      <dd><br> • Gerenciar vagas abertas e encerradas.</dd>
      <dt><br><strong> Recomendações automáticas de currículos</strong></dt>
      <dd><br> Acelere seu processo seletivo: assim que você publica uma vaga, sua empresa recebe currículos sugeridos pelo sistema. A partir de uma busca em nossa base você recebe indicações de candidatos com mais aderência aos requisitos buscados, incluindo grau de compatibilidade.</dd>
      <br></dl>
  </div>
</div>
</mat-card>
<div class="img_rodape">
  <img src="/assets/logo-png-2.png" alt="Imagem do rodapé" style="width: 350px; height: 100px;">
</div>




