.menu{
  height: 75px;
  display: flex;
  position: relative;
}
.button-candidato{
  padding-left: 0.3vw;
}
.button-empresa{
  padding-left: 0.1vw;
}
.button-sobre{
  padding-left: 0.5vw;
}
.dark-button{
  outline: none;
  cursor: pointer;
  margin: 0 0 0 auto;
}
mat-card{
  width: auto;
  text-align: left;
  display:  flex;
}

.quadrado_menu {
  width: auto;
  padding-left: 46.2%;
  height: 50px;
  background: linear-gradient(to left, #3cd2d3 0%, #53b0ea 100%);
  border-radius: 2px;
  padding-bottom: 1px;
}

.quadrado_divisao {
  width: auto;
  height: 50px;
  background: linear-gradient(to left, #3cd2d3 0%, #53b0ea 100%);
  margin-top: -20px
}
.regular{
  position: absolute;
  top: 0;
  padding-left: 0.5vw;
  padding-top: 1vh;
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
}
.img-empresa{
  padding-bottom: 15vh;
}

.Imagem_topo{
  margin: 0;
}

.img_rodape {
  width: auto;
  background: #3cd2d3;
  text-align: center;
}

.imglogo{
  width: auto;
  display: flex;
  float: none;
  margin-left: 25px;
  height: inherit;
}


.button2 {
  width: auto;
  height: auto;
  padding: 15px 25px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.button3 {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 2%;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}
