.menu{
  width: 100%;
  background-color: #3cd2d3;
  height: 75px;
  position: fixed;
  padding-bottom: 1px;
}
.button-candidato{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}
.button-empresa{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
  margin-left: 0.2vw;
}
.button-sobre{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
  margin-left: 1vw;
}
.button2 {
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  margin-left: 48vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.button3 {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 2%;
  padding: 0.5vh 1vw;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.dark-button{
  outline: none;
  cursor: pointer;
  margin: 0 0 0 auto;
}
.active-link{
  font-weight: bold;
}
