<mat-toolbar class="menu" color="primary">
  <div class="button-candidato">
    <button mat-stroked-button color="white">Candidato</button>
  </div>
  <div class="button-empresa">
    <button mat-stroked-button color="white">Empresa</button>
  </div>
  <div class="button-sobre">
    <button mat-stroked-button color="white">Sobre</button>
  </div>
</mat-toolbar>
<div class="menu-lc">
  <button class="button-login">LOGIN</button>
  <button class="button-cadastro">CADASTRE SEU CURRÍCULO</button>
</div>

<div class="Imagem_topo">
  <img src="/assets/banner-1.png" style="width:100%">

<div class="quadrado_divisao"></div>

<div class="Imagem_centro">
  <img src="/assets/rodape-1-3aD.png" style="width:100%">
</div>

<!-- rodape -->


<router-outlet></router-outlet>
