<!-- <mat-toolbar class="menu" color="primary">
 <div class="button-candidato">
    <button routerLink="/scandidato" mat-stroked-button color="white">Candidatooo</button>
  </div>
  <div class="button-empresa">
    <button routerLink="/sempresa" mat-stroked-button color="white">Empresa</button>
  </div>
  <div class="button-sobre">
    <button routerLink="/sobre" mat-stroked-button color="white">Sobre</button>
  </div>
  <div class="dark-button">
    <button mat-icon-button><mat-icon>brightness_2</mat-icon></button>
  </div>
</mat-toolbar> -->

  <div class="quadrado_menu">
    <br>
      <button class="button3" routerLink="/logincandidato" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="white">Candidato</button>
      <button class="button3" routerLink="/loginempresa" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="white">Empresa</button>
      <button class="button3" routerLink="/sobre" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="white">Sobre</button>
      <button class="button4" routerLink="/home" mat-stroked-button>Cadastre-se Gratuitamente</button>
      </div>

<div class="quadrado_divisao"></div>
<br>
<div class="Imagem_topo">
  <img src="/assets/banner-1.png" style="width:100%">
<div class="quadrado_divisao"></div>

<div class="Imagem_centro">
  <img src="/assets/rodape-1-3aD.png" style="width:100%">
</div>
<br>

  <div class="img_rodape"style="text-align:center;">
    <img  style="width:20%" src="/assets/logo-png-2.png" alt="Imagem do rodapé">
  </div>
