.menu{
  width: 100%;
  background-color: #3cd2d3;
  height: 75px;
  position: fixed;
  padding-bottom: 1px;
}
.button-candidato{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}
.button-empresa{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
  margin-left: 0.2vw;
}
.button-sobre{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
  margin-left: 1vw;
}
.button2 {
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  margin-left: 48vw;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.button3 {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 2%;
  padding: 0.5vh 1vw;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0c0b0b;
  background-color: #f4f7f7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.dark-button{
  outline: none;
  cursor: pointer;
  margin: 0 0 0 auto;
}
mat-card{
  display: grid;
  position: static;
}

.quadrado_divisao {
  width: auto;
  height: 50px;
  background: linear-gradient(to left, #3cd2d3 0%, #53b0ea 100%);
  margin-top: 0;
}

.regular{
  width: auto;
  position: static;
  padding-left: 0.5vw;
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
}
.img-empresa{
  // padding-bottom: 15vh;
  position:absolute;
  width: 50%;
  opacity: 0.1;
}

.Imagem_topo{
  margin: 0;
}

.img_rodape {
  width: auto;
  background: #3cd2d3;
  text-align: center;
  margin-top: 0;
}

.imglogo{
  width: auto;
  display: flex;
  float: none;
  margin-left: 25px;
  height: inherit;
}


h2{
  text-decoration: underline double;
}
ol{
  border-radius: 8px;
  box-shadow: 0 2px #999;
  margin-bottom: 0;
}
.active-link{
  font-weight: bold;
}


