<mat-toolbar class="menu" color="primary">
  <div routerLink="/scandidato" class="button-candidato">
     <button routerLink="/scandidato" mat-stroked-button color="white">Candidato</button>
   </div>
   <div routerLink="/sempresa" class="button-empresa">
     <button routerLink="/sempresa" mat-stroked-button color="white">Empresa</button>
   </div>
   <div routerLink="/sobre" class="button-sobre">
     <button mat-stroked-button color="white">Sobre</button>
   </div>
   <div class="dark-button">
     <button mat-icon-button><mat-icon>brightness_2</mat-icon></button>
   </div>
 </mat-toolbar>

 <mat-card>
<div class="quadrado_menu">
    <br>
    <a href='/home'><button class="button2">Home</button></a>
    <button class="button3">Cadastre Seu Curriculo</button>
</div>

<div class="quadrado_divisao"></div>

<div class="img-empresa" style="position: relative;">
    <img src="/assets/empresa-fundo-1-5iD.png" alt="Imagem"  style="width: 50%; opacity: 0.1; padding-bottom: 10vh;"  />
    <div class="regular">
        <dl>
            <dt><strong>Sobre</strong></dt>
            <dd><br>Somos uma empresa de tecnologia, pioneira no segmento. buscando ser o lider global no segmento de recrutamento online.</dd>
		        <dt><br><strong> Temos como propósito mudar a vida das pessoas por meio do trabalho.</strong></dt>
		        <dd><br>Queremos oferecer os melhores serviços com nossa plataforma, para conectar os candidatos às empresas parceiras, e assim, ter o match perfeito nas vagas.</dd>
		        <dd><br> Contamos com mais de 10 milhões de currículos cadastrados em nosso site, sendo 6 mil novos por dia. Além de mais de 360 mil empresas anunciando vagas na plataforma.</dd>
		        <dd><br>Temos a maior base de profissionais com deficiência e laudos validados do país e esses candidatos podem acessar nossos planos profissionais de forma totalmente gratuita.</dd>
            <dt><br><strong>Nosso Time: </strong></dt>
            <dd><br> Contamos com um time de diversas áreas, que trabalham todos os dias para ajudar profissionais a conquistarem sucesso em suas carreiras e empresas a encontrarem os melhores talentos para, assim, fazerem o Brasil prosperar.
            </dd>
          </dl>
  </div>
</div>
</mat-card>
  <div class="img_rodape">
    <img src="/assets/logo-png-2.png" alt="Imagem do rodapé" style="width: 350px; height: 100px;">
  </div>

