  <mat-toolbar class="menu">
    <button class="button-candidato" routerLink="/logincandidato" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="white">Candidato</button>
    <button class="button-empresa" routerLink="/loginempresa" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="white">Empresa</button>
    <button class="button-sobre" routerLink="/sobre" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" mat-stroked-button color="white">Sobre</button>
    <button class="button2" routerLink="/home" mat-stroked-button>Inicio</button>
    <button class="button3" routerLink="/home" mat-stroked-button>Cadastre-se Gratuitamente</button>
     <button class="dark-button" mat-icon-button><mat-icon>brightness_2</mat-icon></button>
  </mat-toolbar>

<div class="quadrado_divisao"></div>
<br>
<mat-card>
  <div class="img-empresa">
    <img src="/assets/empresa-fundo-1-5iD.png" alt="Imagem"/>
  </div>
  <div class="regular">

      <ol>
      <dl>
          <dt><h2>SOBRE</h2></dt>
          <dd><br>Somos uma empresa de tecnologia, pioneira no segmento. buscando ser o lider global no segmento de recrutamento online.</dd>
          <dt><br><strong> Temos como propósito mudar a vida das pessoas por meio do trabalho.</strong></dt>
          <dd><br>Queremos oferecer os melhores serviços com nossa plataforma, para conectar os candidatos às empresas parceiras, e assim, ter o match perfeito nas vagas.</dd>
          <dd><br> Contamos com mais de 10 milhões de currículos cadastrados em nosso site, sendo 6 mil novos por dia. Além de mais de 360 mil empresas anunciando vagas na plataforma.</dd>
          <dd><br>Temos a maior base de profissionais com deficiência e laudos validados do país e esses candidatos podem acessar nossos planos profissionais de forma totalmente gratuita.</dd>
          <dt><br><strong>Nosso Time: </strong></dt>
          <dd><br> Contamos com um time de diversas áreas, que trabalham todos os dias para ajudar profissionais a conquistarem sucesso em suas carreiras e empresas a encontrarem os melhores talentos para, assim, fazerem o Brasil prosperar.
          </dd>
          </dl>
          <br>
        </ol>

        <ol>
          <dl>
          <dt><h2>CANDIDATO</h2></dt>
          <dt><strong> Revise o seu currículo</strong></dt>
          <dd>
              <br> O principal objetivo do currículo é gerar entrevistas e servir de roteiro para o entrevistador. Mantenha seu currículo sempre atualizado e sem erros gramaticais. Ele é a primeira impressão que o recrutador terá de você, por isso, precisa estar impecável. Revisar meus currículos.
          </dd>
          <dt><br><strong> Vagas e envie seu currículo diariamente</strong></dt>
          <dd><br> Tenha uma postura ativa para usar o site. Diariamente, mais de 7 mil vagas são anunciadas. É importante que você acesse o site todos os dias,  e envie seu currículo para as vagas do seu interesse.</dd>
          <dt><br><strong> Receba vagas em seu e-mail</strong></dt>
          <dd><br> O Aviso de Vagas envia para o seu e-mail as vagas mais recentes anunciadas na Catho, de acordo com o perfil que você cadastrou. É importante configurá-lo corretamente para receber as melhores vagas para o seu perfil. Revise as configurações do seu Aviso de Vagas.</dd>
          <dt><br><strong> Vá preparado para as entrevistas</strong></dt>
          <dd><br> A entrevista é a etapa decisiva na conquista do emprego e você precisa estar preparado para expor as suas qualificações para a empresa.
              Certifique-se da data, local e horário marcado, programe o caminho que irá fazer, estude seu currículo e procure informações sobre <br>a empresa contratante. Para ajudar, recomendamos a leitura dos artigos do Portal Carreira & Sucesso.</dd>
            </dl>
              <br>
            </ol>

            <ol>
              <dl>
          <dt><h2>EMPRESA</h2></dt>
          <dt><strong> Busque agora candidatos de acordo com o perfil da sua vaga</strong></dt>
    <dd>
        <br> Nossas soluções trazem agilidade e assertividade durante a contratação.
    </dd>
    <dt><br><strong> Gestão de Currículos</strong></dt>
    <dd><br> Faça toda a gestão do processo seletivo de maneira online pela Área da Empresa, onde você pode:</dd>
    <dd><br> • Organizar os currículos por pastas;</dd>
    <dd><br> • Enviar mensagens aos candidatos;</dd>
    <dd><br> • Agendar entrevistas;</dd>
    <dd><br> • Gerenciar vagas abertas e encerradas.</dd>
    <dt><br><strong> Recomendações automáticas de currículos</strong></dt>
    <dd><br> Acelere seu processo seletivo: assim que você publica uma vaga, sua empresa recebe currículos sugeridos pelo sistema. A partir de uma busca em nossa base você recebe indicações de candidatos com mais aderência aos requisitos buscados, incluindo grau de compatibilidade.</dd>
  </dl>
    <br>
  </ol>
</div>
</mat-card>
<div class="img_rodape">
<img src="/assets/logo-png-2.png" alt="Imagem do rodapé" style="width: 350px; height: 100px;">
</div>



