<mat-toolbar class="menu" color="primary">
  <div class="button-candidato">
     <button mat-stroked-button color="white">Candidato</button>
   </div>
   <div class="button-empresa">
     <button mat-stroked-button color="white">Empresa</button>
   </div>
   <div class="button-sobre">
     <button mat-stroked-button color="white">Sobre</button>
   </div>
   <div class="dark-button">
     <button mat-icon-button><mat-icon>brightness_2</mat-icon></button>
   </div>
 </mat-toolbar>
<mat-card>

<div class="quadrado_menu">
  <br>
  <a href='/home'><button class="button2">Home</button></a>
  <button class="button3">Cadastre Seu Curriculo</button>
</div>

<div class="quadrado_divisao"></div>

<div style="position: relative;">
  <img src="/assets/funcionarios-1-eMs.png" alt="Imagem"  style="width: 50%; opacity: 0.1; height: auto;"  />
  <div class="regular">
      <dl>
          <dt><strong> Revise o seu currículo</strong></dt>
          <dd>
              <br> O principal objetivo do currículo é gerar entrevistas e servir de roteiro para o entrevistador. Mantenha seu currículo sempre atualizado e sem erros gramaticais. Ele é a primeira impressão que o recrutador terá de você, por isso, precisa estar impecável. Revisar meus currículos.
          </dd>
          <dt><br><strong> Vagas e envie seu currículo diariamente</strong></dt>
          <dd><br> Tenha uma postura ativa para usar o site. Diariamente, mais de 7 mil vagas são anunciadas. É importante que você acesse o site todos os dias,  e envie seu currículo para as vagas do seu interesse.</dd>
          <dt><br><strong> Receba vagas em seu e-mail</strong></dt>
          <dd><br> O Aviso de Vagas envia para o seu e-mail as vagas mais recentes anunciadas na Catho, de acordo com o perfil que você cadastrou. É importante configurá-lo corretamente para receber as melhores vagas para o seu perfil. Revise as configurações do seu Aviso de Vagas.</dd>
          <dt><br><strong> Vá preparado para as entrevistas</strong></dt>
          <dd><br> A entrevista é a etapa decisiva na conquista do emprego e você precisa estar preparado para expor as suas qualificações para a empresa.
              Certifique-se da data, local e horário marcado, programe o caminho que irá fazer, estude seu currículo e procure informações sobre <br>a empresa contratante. Para ajudar, recomendamos a leitura dos artigos do Portal Carreira & Sucesso.</dd>
              <br></dl>
  </div>
</div>
</mat-card>
<div class="img_rodape">
  <img src="/assets/logo-png-2.png" alt="Imagem do rodapé" style="width: 350px; height: 100px;">
</div>



