.menu{
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, #3cd2d3 50%, #53b0ea 100%);
  height: 110px;
  z-index: 1000;
}
.button-candidato{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.button-empresa{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: 0.2vw;
}
.button-sobre{
  width: auto;
  height: auto;
  padding: 0.5vh 1vw;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-left: 1vw;
}
.button2 {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 67vw;
  padding: 0.5vh 1vw;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.dark-button{
  outline: none;
  cursor: pointer;
  margin: 0 0 0 auto;
}

.card-form{
  position: static;
  max-width: 100%;
  padding-top: 110px;
  background-color: #e9ecec;
  align-items: center; /* Centraliza os elementos */
}
.inp-candidatocad{
  padding-top: 1vh;
  width: 30%;
  position: static;
  display: flex;
  flex-direction: column;
}
.quadrado_divisao2 {
  width: auto;
  height: 50px;
  background: linear-gradient(to right, #3cd2d3 50%, #53b0ea 100%);
  margin-top: 0px
}

.Imagem_topo{
  margin: 0;
}

.img_rodape {
  width: auto;
  background: linear-gradient(to right, #3cd2d3 50%, #53b0ea 100%);
  text-align: center;
}

.imglogo{
  width: auto;
  display: flex;
  float: none;
  margin-left: 25px;
  height: inherit;

}

.button2 {
  width: auto;
  height: auto;
  padding: 15px 25px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button3 {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 2%;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.inp-pretensaosal {
  text-align: right;
}

input.inp-pretensaosal::-webkit-outer-spin-button,
input.inp-pretensaosal::-webkit-inner-spin-button {
  display: none;
}

input.inp-pretensaosal {
  appearance: textfield;
}

.btnform{
  margin-bottom: 1%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: static;
}
.voltarbtn{
  width: 6vw;
  height: auto;
  position: relative;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #159be9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}
.continuarbtn{
  width: 10vw;
  height: auto;
  margin-left: 0.7%;
  position: relative;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #159be9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}


